<main class="main1">


    <div>

        <h2>Match starts at {{startTime}}</h2>

    </div>


    <table class="table1">
        <tr>
            <th> {{team1Name}}</th>
            <th>{{team2Name}}</th>
        </tr>
        {{#each players}} <tr>
            <td>{{this.team1}}</td>
            <td>{{this.team2}}</td>
        </tr>
        {{/each}}
    </table>

</main>