<main class="main1">


  <ul class="main-nav">
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>

    <a class="fields">{{team1Name}}</a>
    <div class="count" value="0" id="team1_goals">{{team1Goals}}</div>
    <a class="fields"></a>
    <a class="fields"></a>
    <div class="count" value="0" id="team2_goals">{{team2Goals}}</div>
    <a class="fields">{{team2Name}}</a>

  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
    {{#if creator}}
    <li><a href="/matches/{{id}}/editStats">Edit</a></li>
    {{/if}}
  </ul>

  <table class="table1">
    <tr>

      <th id="team1_name">Team1 </th>
      <th>Fields</th>
      <th id="team2_name">Team2</th>
    </tr>
    <tr>

      <td id="view_team1_goals">2</td>
      <td>Goals</td>
      <td id="view_team2_goals">3</td>
    </tr>
    <tr>

      <td id="view_team1_shots">2</td>
      <td>shots</td>
      <td id="view_team2_shots">3</td>
    </tr>
    <tr>

      <td id="view_team1_shotsontarget">2</td>
      <td>shots on target</td>
      <td id="view_team2_shotsontarget">3</td>
    </tr>
    <tr>

      <td id="view_team1_fouls">2</td>
      <td>fouls</td>
      <td id="view_team2_fouls">3</td>
    </tr>
    <tr>

      <td id="view_team1_passes">2</td>
      <td>passes</td>
      <td id="view_team2_passes">3</td>
    </tr>
    <tr>

      <td id="view_team1_yellow">2</td>
      <td>yellow cards</td>
      <td id="view_team2_yellow">3</td>
    </tr>
    <tr>

      <td id="view_team1_red">2</td>
      <td>Red cards</td>
      <td id="view_team2_red">3</td>
    </tr>
    <tr>

      <td id="view_team1_offsides">2</td>
      <td>offsides</td>
      <td id="view_team2_offsides">3</td>
    </tr>
    <tr>

      <td id="view_team1_corners">2</td>
      <td>corners</td>
      <td id="view_team2_corners">3</td>
    </tr>
  </table>

</main>