<main class="main1">


  <ul class="main-nav">


    <a class="fields">{{team1Name}}</a>
    <div style=" width:auto" class="count" value="0" id="team1_goals">{{team1Goals}}</div>

    <div class="count" value="0" id="team2_goals">{{team2Goals}}</div>
    <a class="fields">{{team2Name}}</a>

  </ul>

  <ul class="main-nav">
    <a href="/matches/{{id}}/players">Players</a>
    <a href="/matches/{{id}}/stats">Stats</a>
    <a href="/matches/{{id}}/commentary">Commentary</a>
    <a href="/matches/{{id}}/highlights">Highlights</a>
  </ul>


  <ul id="viewCommentaryList">
    {{#each commentary}}
    <div>{{this.comment}}</div>
    {{/each}}
  </ul>

</main>