<main class="main1">


  <ul class="main-nav">
   
    <li><a class="fields">{{team1Name}}</a></li>
    <li>  <div style=" width:auto"   class="count" id="team1_goals">{{team1Goals}}</div></li>
        
      <li><div style=" width:auto"   class="count" id="team2_goals">{{team2Goals}}</div></li>
       <li><a class="fields">{{team2Name}}</a></li>
  
  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>

  <ul id="viewHighlightsList">
    {{#each highlights}}
    <li style="color: rgb(246, 249, 247); 
 background-color: rgba(12, 12, 12, 0);">{{this}}</li>
    {{/each}}
  </ul>
</main>