<main class="main1">


  <ul class="main-nav">
   
    <li><a class="fields">{{team1Name}}</a></li>
    <li>  <div style=" width:auto"   class="count" id="team1_goals">{{team1Goals}}</div></li>
        
      <li><div style=" width:auto"   class="count" id="team2_goals">{{team2Goals}}</div></li>
       <li><a class="fields">{{team2Name}}</a></li>
  
  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>


  <ul id="viewCommentaryList">
    {{#each commentary}}
    <h3>{{this.comment}}</h3>
    <p>{{this.time}}</p>
    {{/each}}
  </ul>

</main>