<main class="main1">

   <ul class="main-nav">
   
    <a class="fields">{{team1Name}}</a>
        <div style=" width:auto"   class="count" value="0" id="team1_goals">{{team1Goals}}</div>
        
        <div class="count" value="0" id="team2_goals">{{team2Goals}}</div>
        <a class="fields">{{team2Name}}</a>

  </ul>

  <ul class="main-nav">
    <a href="/matches/{{id}}/players">Players</a>
    <a href="/matches/{{id}}/stats">Stats</a>
    <a href="/matches/{{id}}/commentary">Commentary</a>
    <a href="/matches/{{id}}/highlights">Highlights</a>
  </ul>
  

  <form id="form" class="statsForm" onsubmit="editstats(event)">
    <option id="matchId" hidden="true">{{id}}</option>
    <label id="label">
      <table class="table2" >
      <th id="team1_name" style="color: rgb(246, 249, 247); background-color: rgba(2, 0, 0, 0);"  >team1_name</th>
      <th id="team2_name" style="color: rgb(246, 249, 247); background-color: rgba(2, 0, 0, 0);" >team2_name</th>
      </table>
      
      <table>
      <div style="color: rgb(246, 249, 247); background-color: rgba(2, 0, 0, 0);"  class="fields">Goals</div>
      <input class="class1" name="input" type="number" id="edit_team1_goals" value="0" />
      <label class="fields" for="edit_team2_goals" hidden>goals</label>
      <input class="class1" name="input" type="text" id="edit_team2_goals" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">shots</div>
       <label class="fields" for="edit_team1_shots" hidden>shots</label>
       <label class="fields" for="edit_team2_shots" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_shots" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_shots" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">shots on target</div>
      <label class="fields" for="edit_team1_shotsontarget" hidden>shots</label>
      <label class="fields" for="edit_team2_shotsontarget" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_shotsontarget" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_shotsontarget" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">fouls</div>
      <label class="fields" for="edit_team1_fouls" hidden>shots</label>
      <label class="fields" for="edit_team2_fouls" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_fouls" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_fouls" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">passes</div>
      <label class="fields" for="edit_team1_passes" hidden>shots</label>
      <label class="fields" for="edit_team2_passes" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_passes" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_passes" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">yellow cards</div>
      <label class="fields" for="edit_team1_yellowcards" hidden>shots</label>
      <label class="fields" for="edit_team2_yellowcards" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_yellowcards" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_yellowcards" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">red cards</div>
      <label class="fields" for="edit_team1_redcards" hidden>shots</label>
      <label class="fields" for="edit_team2_redcards" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_redcards" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_redcards" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">offsides</div>
      <label class="fields" for="edit_team1_offsides" hidden>shots</label>
      <label class="fields" for="edit_team2_offsides" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_offsides" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_offsides" value="0" />

      <div></div>
      <div style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);"  class="fields">corners</div>
      <label class="fields" for="edit_team1_corners" hidden>shots</label>
      <label class="fields" for="edit_team2_corners" hidden>shots</label>
      <input class="class1" name="input" type="text" id="edit_team1_corners" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_corners" value="0" />
      </table>
      <div></div>
      <button class="btn3" type="submit">Submit </button>
    </label>
  </form>

  <div id="error" class="error"></div>

</main>