<main class="main1">

  <ul class="main-nav">
   
    <li><a class="fields">{{team1Name}}</a></li>
    <li>  <div style=" width:auto"   class="count" id="team1_goals">{{team1Goals}}</div></li>
        
      <li><div style=" width:auto"   class="count" id="team2_goals">{{team2Goals}}</div></li>
       <li><a class="fields">{{team2Name}}</a></li>
  
  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>

  <div style="color: rgb(246, 249, 247); background-color: rgba(2, 0, 0, 0);">*Add values to the desired field, atleast
    one value should be entered</div>
  
  <form id="form" class="statsForm" onsubmit="editstats(event)">
    
    
      <table>
        <tr>
        <td>
          <option id="matchId" hidden="true">{{id}}</option>
        <label id="team1_name" style=" padding: 1px; color: rgb(246, 249, 247); background-color: rgba(2, 0, 0, 0);">{{team1Name}}----------------</label>

        <label id="team2_name" style="color: rgb(246, 249, 247); background-color: rgba(2, 0, 0, 0);">{{team2Name}}</label>
        </td>
        </tr>
        <tr>
        <td><label style="color: rgb(246, 249, 247); background-color: rgba(2, 0, 0, 0);" class="fields">Goals</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_goals">
        <label class="fields" for="edit_team2_goals" hidden>team2 goals</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team2_goals" >
        </td>
        </tr>
        <tr>
        <td>
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">shots</label>
        <label class="fields" for="edit_team1_shots" hidden>team1 shots</label>
        <label class="fields" for="edit_team2_shots" hidden>team2 shots</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_shots" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_shots" >
        </td>
        </tr>
        <tr>
        <td>
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">shots-target
        </label>
        <label class="fields" for="edit_team1_shotsontarget" hidden>team1 shots on target</label>
        <label class="fields" for="edit_team2_shotsontarget" hidden>team2 shots on target</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_shotsontarget" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_shotsontarget" >
        </td>
        </tr>
        <tr>
        <td>
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">fouls</label>
        <label class="fields" for="edit_team1_fouls" hidden>team1 fouls</label>
        <label class="fields" for="edit_team2_fouls" hidden>team2 fouls</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_fouls" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_fouls" >
        </td>
        </tr>
        <tr>
        <td>
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">passes</label>
        <label class="fields" for="edit_team1_passes" hidden>team1 passes</label>
        <label class="fields" for="edit_team2_passes" hidden>team2 passes</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_passes" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_passes" >
        </td>
        </tr>
        <tr>
        <td>
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">yellow cards</label>
        <label class="fields" for="edit_team1_yellowcards" hidden>team1 yellow cards</label>
        <label class="fields" for="edit_team2_yellowcards" hidden>team2 yellow cards</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_yellowcards" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_yellowcards" >
        </td>
        </tr>
        <tr>
        <td>
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">red cards</label>
        <label class="fields" for="edit_team1_redcards" hidden>team1 red cards</label>
        <label class="fields" for="edit_team2_redcards" hidden>team2 red cards</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_redcards" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_redcards" >
        </td>
        </tr>
        <tr>
        <td>
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">offsides</label>
        <label class="fields" for="edit_team1_offsides" hidden>team1 offsides</label>
        <label class="fields" for="edit_team2_offsides" hidden>team2 offsides</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_offsides" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_offsides" >
        
        </td>
        </tr>
        <tr>
        <td>
        
        <label style="color: rgb(246, 249, 247); background-color: rgba(12, 12, 12, 0);" class="fields">corners</label>
        <label class="fields" for="edit_team1_corners" hidden>team1 corners</label>
        <label class="fields" for="edit_team2_corners" hidden>team2 corners</label>
        <input class="class1" name="input" type="number" min="1" id="edit_team1_corners" >
        <input class="class1" name="input" type="number" min="1" id="edit_team2_corners" >
        </td>
        </tr>
      </table>
      
      <button class="btn3" type="submit">Submit </button>
  </form>

  <div id="error" class="error"></div>

</main>