<main class="main1">


  <ul class="main-nav">
   
    <li><a class="fields">{{team1Name}}</a></li>
    <li>  <div style=" width:auto"   class="count" id="team1_goals">{{team1Goals}}</div></li>
        
      <li><div style=" width:auto"   class="count" id="team2_goals">{{team2Goals}}</div></li>
       <li><a class="fields">{{team2Name}}</a></li>
  
  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>



  <form id="commentary" class="commentary" onsubmit="editcommentary(event)">
    <option id="matchId" hidden="true">{{id}}</option>
    <label for="commentary-form-input" class="commentary-form-label"></label>
      {{!-- <input value="" /> --}}
      <input class="commentary-form-input" name="input" type="text" id="commentary-form-input" size="60" >
      <button class="commentarybtn" type="submit">Submit </button>
    

    <div style="color: rgb(246, 249, 247); 
 background-color: rgba(12, 12, 12, 0);" id="error" class="error"></div>
  </form>

  <ul style="list-style-type: none; color: rgb(246, 249, 247); 
 background-color: rgba(12, 12, 12, 0);" id="editCommentaryList">
    <li>{{#each commentary}}</li>
    <li><div style="color: rgb(246, 249, 247); 
 background-color: rgba(12, 12, 12, 0);">{{this.comment}}</div></li>
    <li><p style="color: rgb(246, 249, 247); 
 background-color: rgba(12, 12, 12, 0);">{{this.time}}</p></li>
    <li>{{/each}}</li>
  </ul>

</main>