<main class="main1">


  <ul class="main-nav">
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>

    <a class="fields">team1_name</a>
    <div class="count" value="0" id="team1_goals"></div>
    <a class="fields"></a>
    <a class="fields"></a>
    <div class="count" value="0" id="team2_goals"></div>
    <a class="fields">team2_name</a>

  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>



  <form id="commentary" class="commentary" onsubmit="editcommentary(event)">
    <option id="matchId" hidden="true">{{id}}</option>
    <label id="commentary-form-label" class="commentary-form-label">
      {{!-- <input value="" /> --}}
      <input class="commentary-form-input" name="input" type="text" id="commentary-form-input" size="60" />
      <button class="commentarybtn" type="submit">Submit </button>
    </label>

    <div id="error" class="error"></div>
  </form>

  <ul id="editCommentaryList">
    {{#each commentaryw}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

</main>