<main class="main1">


  <ul class="main-nav">
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>

    <a class="fields">{{team1Name}}</a>
    <div class="count" value="0" id="team1_goals">{{team1Goals}}</div>
    <a class="fields"></a>
    <a class="fields"></a>
    <div class="count" value="0" id="team2_goals">{{team2Goals}}</div>
    <a class="fields">{{team2Name}}</a>

  </ul>

  <ul class="main-nav">
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>

</main>