<main class="main1">

   <ul class="main-nav">
   
    <a class="fields">{{team1Name}}</a>
    <div class="count" value="0" id="team1_goals">{{team1Goals}}</div>
    
    <div class="count" value="0" id="team2_goals">{{team2Goals}}</div>
    <a class="fields">{{team2Name}}</a>

  </ul>

  <ul class="main-nav">
    <a href="/matches/{{id}}/players">Players</a>
    <a href="/matches/{{id}}/stats">Stats</a>
    <a href="/matches/{{id}}/commentary">Commentary</a>
    <a href="/matches/{{id}}/highlights">Highlights</a>
  </ul>
  

  <form id="form" class="statsForm" onsubmit="editstats(event)">
    <option id="matchId" hidden="true">{{id}}</option>
    <label id="label">
      <table>
      <div class="fields"></div>
      <label for="team1_name">Team1 Name:</label>
      <input class="class1" name="input" type="text" id="team1_name" />
      <label for="team2_name">Team2 Name:</label>
      <input class="class1" name="input" type="text" id="team2_name" />

      <div class="fields">Goals</div>
      <input class="edit_team1_goals" name="input" type="number" id="edit_team1_goals" value="0" />
      <input class="edit_team2_goals" name="input" type="text" id="edit_team2_goals" value="0" />

      <div></div>
      <div class="fields">shots</div>
      <input class="edit_team1_shots" name="input" type="text" id="edit_team1_shots" value="0" />
      <input class="edit_team2_shots" name="input" type="text" id="edit_team2_shots" value="0" />

      <div></div>
      <div class="fields">shots on target</div>
      <input class="edit_team1_shotsontarget" name="input" type="text" id="edit_team1_shotsontarget" value="0" />
      <input class="edit_team2_shotsontarget" name="input" type="text" id="edit_team2_shotsontarget" value="0" />

      <div></div>
      <div class="fields">fouls</div>
      <input class="edit_team1_fouls" name="input" type="text" id="edit_team1_fouls" value="0" />
      <input class="edit_team2_fouls" name="input" type="text" id="edit_team2_fouls" value="0" />

      <div></div>
      <div class="fields">passes</div>
      <input class="edit_team1_passes" name="input" type="text" id="edit_team1_passes" value="0" />
      <input class="edit_team2_passes" name="input" type="text" id="edit_team2_passes" value="0" />

      <div></div>
      <div class="fields">yellow cards</div>
      <input class="edit_team1_yellowcards" name="input" type="text" id="edit_team1_yellowcards" value="0" />
      <input class="edit_team2_yellowcards" name="input" type="text" id="edit_team2_yellowcards" value="0" />

      <div></div>
      <div class="fields">red cards</div>
      <input class="edit_team1_redcards" name="input" type="text" id="edit_team1_redcards" value="0" />
      <input class="edit_team2_redcards" name="input" type="text" id="edit_team2_redcards" value="0" />

      <div></div>
      <div class="fields">offsides</div>
      <input class="edit_team1_offsides" name="input" type="text" id="edit_team1_offsides" value="0" />
      <input class="class1" name="input" type="text" id="edit_team2_offsides" value="0" />

      <div></div>
      <div class="fields">corners</div>
      <input class="edit_team1_corners" name="input" type="text" id="edit_team1_corners" value="0" />
      <input class="edit_team2_corners" name="input" type="text" id="edit_team2_corners" value="0" />
      </table>
      <div></div>
      <button class="btn3" type="submit">Submit </button>
    </label>
  </form>

  <div id="error" class="error"></div>

</main>