<main class="main1">


  <ul class="main-nav">
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>
    <a class="fields"></a>

    <a class="fields">{{team1Name}}</a>
    <div class="count" value="0" id="team1_goals">{{team1Goals}}</div>
    <a class="fields"></a>
    <a class="fields"></a>
    <div class="count" value="0" id="team2_goals">{{team2Goals}}</div>
    <a class="fields">{{team2Name}}</a>

  </ul>

  <ul class="main-nav">
    <a href="/persondetails/{{id}}">{{firstName}} {{lastName}}</a>
    <li><a href="/matches/{{id}}/players">Players</a></li>
    <li><a href="/matches/{{id}}/stats">Stats</a></li>
    <li><a href="/matches/{{id}}/commentary">Commentary</a></li>
    <li><a href="/matches/{{id}}/highlights">Highlights</a></li>
  </ul>
  {{#if creator}}

  <form id="highlightsForm" class="commentaryForm" onsubmit="editHighlights(event)">
    <option id="matchId" hidden="true">{{id}}</option>
    <label id="highlights-form-label" class="highlights-form-label">
      {{!-- <input value="" /> --}}
      <input class="highlights-form-input" name="input" type="text" id="highlights-form-input" size="60" />
      <button class="highlightsbtn" type="submit">Submit </button>
    </label>

    <div id="error" class="error"></div>
  </form>
  {{/if}}

  <ul id="editHighlightsList">
    {{#each highlights}}
    <li>{{this}}</li>
    {{/each}}
  </ul>


</main>